
:root{
    --p--body: #141A2A;
    --p--button: linear-gradient(93.24deg, #0C179A 3.61%, #003BFC 95.44%);
    --p--card: #1649FF;
    --p--white: #fff;
    --p--pColor: #A6ACB8;
    --p--boxColor: #1D263B;
    --p--boxShadow: 10px 10px 5px -2px rgb(1 1 1 / 5%);
    --p--font1: 'Poppins', sans-serif;
    --p--font2: 'Outfit', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--p--body);
}

ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1437px;
}

a.button__btn{
    padding: 20px 40px;
    display: inline-block;
    background: var(--p--button);
    border-radius: 8px;
    font-size: 22px;
    color: var(--p--white);
}

@media screen and (max-width: 575px) {
    a.button__btn {
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 3px;
    }
}


/* =====up section start here===== */
.up__section{
    background-image: url(../image/bg/home__bg.png);
    background-position: center;
    background-size: cover;

}

/* =====header section start herer===== */
.header__section {
    padding: 48px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
}

.logo__section {
    width: 29%;
}

.menu__section .menu__list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__section .menu__list ul li {
    list-style: none;
    margin-right: 47px;
}

.menu__section .menu__list ul li a {
    color: var(--p--white);
    font-size: 20px;
    word-spacing: 4px;
}


.menu__section .menu__list ul li a.active{
    color: #003CFD;
    font-weight: bold;
}

.mobile__bar{
    display: none;
}

.mobile__bar svg.svg-inline--fa.fa-bars, .button svg.svg-inline--fa.fa-xmark {
    color:var(--p--white);
    font-size: 29px;
}

.mobile__menu .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.mobile__menu {
    position: fixed;
    width: 40%;
    height: 100vh;
    right: 0;
    padding: 40px;
    top: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s ease-in-out;
}

.open{
    transform: scaleX(1);
}

.mobile__menu .menu ul li{
    list-style: none;
    margin-bottom: 20px;
}

.mobile__menu .menu ul li a {
    font-size: 28px;
    color: #fff;
}


@media screen and (max-width: 1440px){
    .logo__section {
        width: 20%;
    }

    .menu__section{
        width: 80%;
    }
}

@media screen and (max-width: 1139px) {
    .logo__section {
        width: 23%;
    }

    .menu__section{
        width: 77%;
    }

    .menu__section .menu__list ul li {
        margin-right: 30px;
    }

    .button__btn {
        padding: 12px 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .header__section {
        padding: 30px 0;
    }

    .menu__section{
        display: none;
    }

    .mobile__bar{
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .mobile__menu {
        width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .mobile__menu {
        padding: 40px 25px;
        width: 70%;
    }
}

@media screen and (max-width: 424px) {
    .mobile__menu{
        width: 100%;
    }
}

/* =====header section end here===== */


/* =====hero section start herer===== */
.hero__section{
    padding: 130px 0 112px;
}

.hero__title {
    color:var(--p--white);
    font-family: var(--p--font2);
    text-align: center;
}

.hero__title h1 {
    font-size: 109px;
    font-weight: bold;
    line-height: 137px;
}

.hero__title p {
    max-width: 784px;
    font-size: 24px;
    line-height: 37px;
    color: var(--p--pColor);
    margin: 30px auto 75px;
}

@media screen and (max-width: 1440px) {
    .hero__title h1 {
        font-size: 70px;
        line-height: 99px;
    }
}

@media screen and (max-width: 991px) {
    .hero__title h1 {
        font-size: 65px;
        line-height: 99px;
    }
}

@media screen and (max-width: 767px) {
    .hero__title h1 {
        font-size: 48px;
        line-height: 80px;
    }
}

@media screen and (max-width: 575px) {
    .hero__section {
        padding: 90px 0 112px;
    }

    .hero__title h1 {
        font-size: 35px;
        line-height: 55px;
    }

    .hero__title p {
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 424px) {
    .hero__section {
        padding: 70px 0 80px;
    }
}
/* =====hero section end herer===== */

/* =====up section end here===== */


/* =====flow section star here===== */
.flow__section {
    padding: 70px 0 0;
}

.flow__title {
    text-align: center;
}

.flow__title h4 {
    color: var(--p--white);
    font-size: 48px;
    font-weight: bold;
    font-family: var(--p--font2)
}

.flow__title p {
    color: var(--p--pColor);
    font-size: 20px;
    line-height: 30px;
    max-width: 648px;
    margin: 25px auto 100px;
}

.box__model {
    text-align: center;
    padding: 53px 43px;
    background-color: var(--p--boxColor);
    border-radius: 24px;
    height: 457px;
    box-shadow: var(--p--boxShadow);
}

.box__model h6 {
    font-size: 30px;
    color: var(--p--white);
    margin: 21px 0 25px;
}

.box__model p {
    font-size: 20px;
    line-height: 38px;
    color: var(--p--pColor);
}

@media screen and (max-width: 991px) {
    .box__model p{
        line-height: 28px;
    }
}

@media screen and (max-width: 575px) {
    .flow__section {
        padding: 40px 0 0;
    }
    
    .flow__title h4 {
        font-size: 38px;
    }
}

@media screen and (max-width: 424px) {
    .box__model img {
        width: 100px;
    }

    .flow__title h4 {
        font-size: 30px;
    }

    .box__model {
        padding: 25px;
        height: 338px;
    }

    .box__model h6 {
        font-size: 25px;
    }

    .box__model p {
        font-size: 15px;
        line-height: 23px;
        color: var(--p--pColor);
    }
}
/* =====flow section end here===== */


/* =====infinity section start herer==== */
.infinity__section {
    margin: 200px 0 0;
    padding: 261px 0 200px;
    background-image: url(../image/bg/infinity__bg.png);
    background-position: center;
    background-size: cover;
}

.image__section.infinity img {
    width: 100%;
}

/* ---accordion--- */
/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    /* height: 8em; */
    height: 8.5em;
}


.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: height .6s;
}

/* Aesthetic */

.accordion {
    padding: 0;
    margin: 0 auto;
    width: 85%;
}

.accordion .accordion-item {
  padding: 46px 0;
  color: #eee;
  border-bottom:  1px solid #303E5F;
  cursor: pointer;
}

.accordion .accordion-item:hover svg.svg-inline--fa.fa-angle-right{
    transform: rotate(90deg);
    transition: 0.4s ease-in-out;
}

.accordion .accordion-item h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.accordion .accordion-item h1 span {
    margin: 0 25px;
}

.accordion .accordion-item h1 svg.svg-inline--fa {
    font-size: 25px;
}

section.accordion-item p {
    font-size: 18px;
    line-height: 38px;
    color: var(--p--pColor);
    margin: 20px 0 0;
}

.accordion .accordion-item:nth-child(1),
 .accordion-item:nth-child(2),
  .accordion-item:nth-child(3) {
  background: transparent;

}
.accordion .accordion-item:nth-child(3) {
  border-bottom: none;
}
/* ---accordion--- */

.accordion-item {
    border: unset;
}


@media screen and (max-width: 1439px) {
    .accordion .accordion-item h1 {
        font-size: 25px;
      }
}

@media screen and (max-width: 1199px) {
    .infinity__section {
        margin: 50px 0 0;
        padding: 150px 0 100px;
    }

    .flow__title p {
        margin: 25px auto 50px;
    }

    .accordion .accordion-item h1 {
        font-size: 22px;
    }

    .accordion .accordion-item h1 span {
        margin: 9px;
    }
}

@media screen and (max-width: 991px) {
    .accordion{
        width: 100%;
    }

    section.accordion-item p {
        font-size: 17px;
        line-height: 30px;
    }

    .accordion .accordion-item{
        padding: 25px 0;
    }
}

@media screen and (max-width: 767px) {
    .accordion{
        padding-top: 40px;
    }

    
}

@media screen and (max-width: 575px) {
    .infinity__section {
        margin: 30px 0 0;
        padding: 117px 0 80px;
    }

    .accordion .accordion-item h1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 424px) {
    section.accordion-item p {
        margin: 10px 0 0;
    }

    section.accordion-item p {
        font-size: 15px;
        line-height: 26px;
    }
}
/* =====infinity section start here===== */


/* =====pie chart section start here===== */

.piechart {
    max-width: 750px;
    margin: auto;
    position: relative;
    padding: 70px;
}



.pie__evaluate p {
    position: absolute;
    color: #Fff;
    text-align: center;
    font-size: 22px;
    line-height: 38px;
    margin: 0;
}

.pie__evaluate p span{
    font-weight: bold;
}

.pie__evaluate p:nth-child(1) {
    left: 0;
    top: 21%;
}

.pie__evaluate p:nth-child(2) {
    right: 9%;
    top: 17%;
}

.pie__evaluate p:nth-child(3) {
    right: 0;
    top: 63%;
}

.pie__evaluate p:nth-child(4) {
    right: 19%;
    bottom: 0%;
}

@media screen and (max-width: 575px) {
    .pie__evaluate p {
        font-size: 18px;
        line-height: 25px;
    }

    .pie__evaluate p:nth-child(4) {
        right: 29%;
        bottom: 0%;
    }
}


/* =====pie chart section end here===== */


/* =====native section start herer===== */
.native__section {
    padding: 200px 0;
}

.native__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.native__title h4 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    width: 61%;
    color: var(--p--white);
}

.native__owl{
    color: #fff;
}

.owl__box {
    padding: 50px;
    font-family:var(--p--font2);
    background: #1D263B;
    border-radius: 16px;
}

.owl__box .title {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #303E5F;
}

.owl__box .title img {
    width: 60px;
}

.owl__box .title .text {
    margin-left: 20px;
}

.owl__box .title .text h5 {
    font-size: 24px;
}

.owl__box .title .text span {
    font-size: 16px;
    color: var(--p--pColor);
}

.owl__box span.foot {
    font-size: 20px;
}

.owl__box span.foot svg.svg-inline--fa.fa-angle-right {
    margin-left: 8px;
}

.owl__box p {
    font-size: 16px;
    line-height: 26px;
    margin: 30px 0;
    color: var(--p--pColor);
    font-family: var(--p--font1);
}

.owl-nav, .owl-dots {
    display: none;
}

@media screen and (max-width: 1199px) {
    .native__title h4 {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .native__title h4 {
        font-size: 37px;
    }
}

@media screen and (max-width: 767px) {
    .native__section {
        padding: 125px 0;
    }

    .native__title {
        justify-content: center;
        flex-wrap: wrap;
    }

    .native__title h4 {
        width: 100%;
        margin-bottom: 40px;
    }

    .native__title h4 {
        font-size: 37px;
        text-align: center;
    }

    .owl__box span.foot svg.svg-inline--fa.fa-angle-right{
        margin-left: 5px;
    }

    .owl__box p {
        text-align: justify;
    }
}

@media screen and (max-width: 575px) {
    .native__title h4 {
        font-size: 28px;
    }
}

@media screen and (max-width: 424px) {
    .native__title h4 {
        font-size: 21px;
        line-height: 32px;
    }
}

/* ---owl carosel--- */

/* ---owl carosel--- */

/* =====native section start herer===== */


/* =====analysis section start here===== */
.analysis__inner .flow__title p {
    font-size: 18px;
}

.card__padel {
    font-family: var(--p--font2);
    padding: 25px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--p--boxColor);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: var(--p--boxShadow)
}

.card__padel:last-child{
    margin-bottom: 0;
}

.card__part .logo__part {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card__part .logo__part .title {
    margin-left: 15px;
}

.card__part .logo__part .title h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--p--white);
}

.card__part .logo__part .title p {
    font-size: 12px;
    margin: 0;
    color: var(--p--pColor);
}

.card__part .para__part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__part .para__part .text h4 {
    color: var(--p--white);
    font-size: 26px;
    margin-bottom: 12px;
    margin: 20px 0 12px;
}

.card__part .para__part .text p {
    font-size: 16px;
    line-height: 24px;
    color: var(--p--pColor);
    margin: 0;
}

.card__padel .price {
    margin-left: 10px;
}

.card__padel .price p {
    background-color: #333B4E;
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--p--white);
}

.counting__list {
    padding: 49px 60px;
    background-color: var(--p--boxColor);
    border-radius: 10px;
    /* display: none; */
}

.counting__list table{
    width: 100%;
    font-family: var(--p--font1);
}

.counting__list table th ,
 .counting__list table td{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 20px 0;
    color: var(--p--pColor);
}

tr{
    border-bottom: 1px solid var(--p--pColor);
}

.counting__list tr:last-child, .counting__list tr:first-child{
    border-bottom: none;
}

th{
    border-bottom: none;
}

table tr th{
    color: var(--p--white) !important;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .card__padel:last-child{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .counting__list {
        padding: 20px;
    }

    .counting__list th{
        font-size: 14px;
    }
}

@media screen and (max-width: 424px) {
    .counting__list table th , td{
        padding: 15px 0;
    }

    .counting__list table tr td{
        font-size: 10px;
    }

    .counting__list table tr td img{ 
        display: none;
    }

    .card__padel{
        padding: 20px;
    }
}

/* =====analysis section end here===== */


/* =====roadmap section start here===== */
.roadmap__section{
    padding: 200px 0;
}

.map__draw {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;

}

.map__draw .image__section {
    position: relative;
}

.map__draw .image__section img{
    position: absolute;
}

.map__draw .image__section .content{
    position: absolute;
    text-align: center;
}

.map__draw .image__section.first__child .content {
    top: 97px;
    left: 71px;
}

.image__section.second__child img {
    left: -185px;
    top: 135px;
}

.image__section.second__child .content {
    left: -19px;
    top: 221px;
}

.image__section.third__child img {
    left: -247px;
}

.image__section.third__child .content {
    left: -109px;
    top: 97px;
}

.image__section.fourth__child img {
    left: -357px;
    top: 135px;
}

.image__section.fourth__child .content {
    left: -190px;
    top: 221px;
}

.image__section.fifth__child img {
    left: -415px;
}

.image__section.fifth__child .content {
    left: -272px;
    top: 97px;
}

.content span {
    font-size: 24px;
    line-height: 32px;
}

.content p {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    font-weight: 500;
}

/* -----rmap adaptive----- */
.rmap{
    display: none;
}

.rmap__inn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image__section__rmap {
    margin-bottom: 33px;
}

.image__section__rmap.first__child {
    position: relative;
}

.image__section__rmap.first__child .content {
    position: absolute;
    text-align: center;
    left: 29%;
    top: 37%;
}

.image__section__rmap.third__child{
    position: relative;
}

.image__section__rmap.third__child .content {
    position: absolute;
    text-align: center;
    left: 42%;
    top: 37%;
    /* color: rgba(151, 174, 255, 1); */

}

.image__section__rmap.second__child {
    position: relative;
}

.image__section__rmap.second__child .content {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 167px;
}
/* -----rmap section end */

@media screen and (max-width: 991px) {
    .map__draw{
        justify-content: center;
        height: 655px;
    }

    .map__draw .image__section {
        margin-bottom: 30px;
    }

    .map__draw .image__section img {
        position: unset;
    }

    .map__draw .image__section.first__child .content {
        top: 97px;
        left: 71px;
    }

    .image__section.second__child .content {
        left: 173px;
        top: 95px;
    }

    .image__section.third__child .content {
        left: 143px;
        top: 97px;
    }

    .image__section.fourth__child .content {
        left: 166px;
        top: 84px;
    }

    .image__section.fifth__child .content {
        left: 137px;
        top: 84px;
    }
}

@media screen and (max-width: 767px) {
    .roadmap__section {
        padding: 122px 0;
    }

    .map__draw{
        display: none;
    }

    .rmap{
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .image__section__rmap img {
        width: 100%;
    }

    .image__section__rmap.second__child .content {
        position: absolute;
        text-align: center;
        top: 28%;
        left: 137px;
    }

}




/* =====roadmap section end here===== */


/* =====team member section start here===== */
.team__member {
    padding: 45px;
    text-align: center;
    font-family: var(--p--font1);
    background-color: var(--p--boxColor);
    border-radius: 20px;
    box-shadow: var(--p--boxShadow)
}

.team__member h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: var(--p--white);
    margin: 30px 0 20px;
}

.team__member span {
    color: var(--p--pColor);
    font-size: 18px;
}


@media screen and (max-width: 424px) {
    .team__member{
        padding: 26px;
    }

    .team__member h5 {
        font-size: 26px;
        margin: 30px 0 15px;
    }
}
/* =====team member section end here===== */


/* =====review section start here===== */
.review__section {
    margin: 200px 0 0;
    padding: 132px 0 200px;
    background-image: url(../image/bg/review__bd.png);
    /* display: none; */

}

@media screen and (max-width: 767px) {
    .review__section{
        padding: 120px 0;
        margin: 0;
    }
}
/* =====review section end hrere===== */


/* =====FAQ section start here===== */
.FAQ__section{
    background-image: url(../image/bg/FAQ__bg.png);
    background-position: center;
    background-size: cover;
    padding-bottom: 290px;
}

.FAQ__image img {
    width: 100%;
}

/* ----accordion----- */

.FAQ__accordion .content__box{
    position: relative;
    margin: 10px 20px;
}

.FAQ__accordion .content__box .label{
    position: relative;
    padding: 18px 73px;
    background: var(--p--boxColor);
    color: var(--p--white);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

/* .FAQ__accordion .content__box .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    font-size: 24px;
} */

/* .FAQ__accordion .content__box.active .label::before{
    content: '-';
} */

.FAQ__accordion .content__box .label h4 {
    margin: 0;
    font-size: 18px;
}

.FAQ__accordion .content__box .label span {
    height: 37px;
    width: 37px;
    line-height: 37px;
    text-align: center;
    background-color: var(--p--card);
    display: block;
}

.FAQ__accordion .content__box .content{
    position: relative;
    background-color: var(--p--boxColor);
    height: 0;
    overflow: hidden;
    color: var(--p--pColor);
    transition: 0.5s;
}

.FAQ__accordion .content__box.active .content p{
    text-align: justify;
    margin: 0;
}

.FAQ__accordion .content__box.active .content{
    height: 100px;
    padding: 0 20px 20px;
}

/* ------------- */

@media screen and (max-width: 767px) {
    .FAQ__section{
        padding: 0;
    }
}

@media screen and (max-width: 575px) {
    .FAQ__accordion .content__box .label{
        padding: 18px;
    }
}

@media screen and (max-width: 424px) {
    .FAQ__accordion .content__box.active .content{
        height: 136px;
    }
}

@media screen and (max-width: 374px) {
    .FAQ__accordion .content__box .label h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .FAQ__accordion .content__box .label{
        height: 95px;
    }
}


/* =====FAQ section end here===== */


/* =====invest section start here===== */
.invest__section {
    margin: 48px 0 200px;
}

.invest__card{
    max-width: 1023px;
    margin: auto;
    background-color: var(--p--boxColor);
    border-radius: 24px;
    box-shadow: 0px 0px 30px var(--p--card);
    padding: 83px;
}

.invest__card .flow__title p {
    font-size: 16px ;
    max-width: 543px;
    margin: 10px auto 35px;
}

.invest__card .flow__title h4 {
    font-size: 40px;
}

.invest__card form {
    text-align: center;
    position: relative;
}

.invest__card form input {
    width: 82%;
    outline: none;
    padding: 29px 58px;
    border-radius: 60px;
    border: none;
    background: #303E5F;
    color: var(--p--pColor);
}

.invest__card form a {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 32px;
    position: absolute;
    top: 15%;
    right: 15%;
    background-color: var(--p--card);
    border-radius: 60px;
    color: var(--p--white);
}

@media screen and (max-width: 767px) {
    .invest__card{
        padding: 50px;
    }

    .invest__card form input {
        padding: 15px 30px;
    }

    .invest__card form a {
        padding: 8px 30px;
        right: 11%;
    }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 767px) {
    .invest__section {
        margin: 48px 0 130px;
    }
}

@media screen and (max-width: 575px) {
    .invest__card {
        padding: 25px;
    }

    .invest__card .flow__title h4 {
        font-size: 30px;
    }

    .invest__section {
        margin: 48px 0 100px;
    }
    
    .invest__card form {
        text-align: unset;
        position: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .invest__card form input {
        width: 88%;
        padding: 8px 30px;
        border-radius: 60px;
    }

    .invest__card form a {
        position: unset;
        padding: 8px 30px;
        right: 11%;
        width: 53%;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 320px) {
    .invest__card {
        padding: 25px 15px;
    }
}
/* =====invest section end here===== */


/* =====footer section start here===== */
.footer__section{
    font-family: var(--p--font1);
}

.foot__corn p {
    font-size: 18px;
    line-height: 30px;
    padding: 21px 0;
    color: var(--p--pColor);
}
a.button__btn.footer {
    padding: 15px 30px;
    font-size: 16px;
}

ul.foot__list li {
    list-style: none;
    margin-bottom: 18px;
}

ul.foot__list li.head__one {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: var(--p--white);
}

ul.foot__list li a {
    color: var(--p--pColor);
    font-size: 18px;
    line-height: 30px;
}
/* =====footer section end here====== */

.slick-slide img {
    display: block;
    width: 311px !important;
    transition: .4s;
}
.client__img.slick-slide.slick-current.slick-active img {
    transform: scale(1.5);
}
/* .slick-slider .slick-track, */
 .slick-slider .slick-list
 {
    /* height: 50rem !important; */
    padding-top: 93px !important;

}
.slick-initialized .slick-slide {
    display: block;
    /* padding-left: 150px !important; */
}
.client__comment {
    position: relative;
    background: #fff;
    left: 0;
    top: 50%;
    width: 500px;
    padding: 45px;
    border-radius: 10px;
    z-index: 9999;
}

button.slick-prev.slick-arrow , button.slick-next.slick-arrow{
    display: none !important;
}

.your-class1.slick-initialized.slick-slider {
    position: absolute;
    /* max-width: 544px; */
}

.client__comment.slick-slide{
    font-family: var(--p--font1);
    width: 544px !important;
    height: 361px;
    background-color: var(--p--boxColor);
    /* padding: 0; */
}

.client__comment.slick-slide p {
    font-size: 16px;
    line-height: 30px;
    color: var(--p--pColor);
    font-weight: 500;
}

.client__comment.slick-slide.slick-current.slick-active h4 {
    font-size: 24px;
    margin: 30px 0 5px;
    color: #fff;
}

.client__comment.slick-slide.slick-current.slick-active span {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--p--pColor);
}

.client__comment.slick-slide.slick-current.slick-active svg.svg-inline--fa.fa-star {
    color: var(--p--card);
    margin-right: 10px;
}

.your-class1 .slick-track {
    width: 544px !important;
    height: 361px !important;
}

@media (min-width: 768px){
.offset-md-4 {
    margin-left: 43.333333%;
}
}
/* ---mine--- */